<link rel="stylesheet" type="text/css" href="/styles/main.css">

<link href="https://fonts.googleapis.com/css?family=Henny+Penny" rel="stylesheet">

<div class="center">

<h1 class="header"><a href="/">Fox Trots</a></h1>

<% if ( blug !== undefined ) { %>
	<% for (var i=0; i < blug.length; i++) { %>
	<h2 class="blog-title"> <%= blug[i].title %> </h2>
	<p class="date"> Written: <%= blug[i].createdAt %> </p>
	<p class="date"><%= blug[i].body %></p>
	<hr>
<% } %>

<% } %>

<h3 class="grey-font">Trot down your Ideas:</h3>

<form action="/blogposts" method="POST">
	<p>Title</p>
	<input id="title" type="text" name="title" />

	<p>Comments</p>
	<textarea id="comments" type="text" name="comments"></textarea>

	<input type="submit" type="post" />

</form>

</div>
